body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', system-ui;
  font-size: 3rem;
  color: #FEF2BF;
}

.container {
  display: flex;
  justify-content: center;
}

.row {
  position: absolute;
  display: grid;
  gap: 5px;
}

.btn {
  margin: 10px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  height: 220px;
  width: 250px;
  border-radius: 550px 50px 50px 50px;
  grid-column: 1 / 4;
  grid-row: 1;
}

.green {
  background-color: green;
  height: 220px;
  width: 250px;
  border-radius: 50px 50px 50px 550px;
  grid-column: 1 / 4;
  grid-row: 2;
}

.blue {
  background-color: blue;
  height: 220px;
  width: 250px;
  border-radius: 50px 550px 50px 50px;
  grid-column: 4 / 4;
  grid-row: 1;
}

.yellow {
  background-color: yellow;
  height: 220px;
  width: 250px;
  border-radius: 50px 50px 550px 50px;
  grid-column: 4 / 4;
  grid-row: 2
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.glow {
  box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5);
}